
main {
    min-height: 80vh;
}

.color-nav{
    background-color: rgb(115, 75, 47);
}

.rating span {
    margin: 0.1rem;
}

.borderless {
    border-top: 0 none;
  }

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h1 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}
